body{
    background-color: #d6d2d2;
    
}
header{
    text-align: center;
   
}
img{
padding: 20px;
padding-top: 10px;
height: auto;
}
div{
    background-color: aliceblue;
    margin: 10px;
    width: auto;
    height: 450px;
}
h2{
    font-size: 20px;
    font-weight: bold;
}
.important{
    font-weight: bold;
}
section{
 float: right;
 width:70%;
}
footer{
    clear: both;
    text-align: center;
}